body{
    margin: 0px;
    padding: 0px;
    background-color: #0B7DEE;
    height: 150vh;
}
.clearfix{clear: both;}

.resume-box{
   width: 800px;
   height: 1000px;
   margin: 0 auto;
   background-color: white;
}
.box-outer{
    padding: 30px;
}
.box-1{
     background-color: #26252d;
     width: 35%;
     float: left;
     height: 1000px;
}
.box-2{
     width: 60%;
      float: left;
       padding: 20px;
}
. profile {
    width: 100%;
}
. content {
  padding: 20px;
}
h1{
  color: #ceced1;
 font-family: system-ui;
 font-weight: 300;
  text-transform: uppercase;
}
p{
color: #ceced1;
 font-family: system-ui;
 font-weight: 300;
 font-size: 14px;
}
